*{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
  }
  body{
    min-height: 100vh;
    background-color: #1b2223;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  nav{
    background-color: #3a4f50;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    font-size: larger;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0ef6cc;
  }
  nav a:hover{
    background-color: #3a4f50;
    text-decoration: underline;
  }
  nav li:first-child{
    margin-right: auto;
  }
  
  .active{
    text-decoration: underline;
  }
  
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 250px;
    background-color:rgba(58, 79, 80, 0.944);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  #ck{
    font-size: 3vh;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0ef6cc;
  }

  ::selection {
    color: #fff;
    background: #0fe;
  }

  .even{
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .even a{
    text-decoration: none;
  }
  
  .events{
      padding: 6vh 11vh 6vh 11vh;
      color: #0fe;
      background-color: #000;
      border: 2px solid aqua;
      border-radius: 2vh;
      font-size: 5vh;
      box-shadow: 0 0 0px #0fe;
      transition: box-shadow 0.2s;
  }

  .events:hover{
      box-shadow: 0 0 10px #0fe;
  }








  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    #ck{
      font-size: 3vh;
      height: 100%;
      padding: 0 30px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #0ef6cc;
    }
  
    ::selection {
      color: #fff;
      background: #0fe;
    }

    .even{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .even a{
      text-decoration: none;
    }
    
    .events{
        padding: 6vh 11vh 6vh 11vh;
        color: #0fe;
        background-color: #000;
        border: 2px solid aqua;
        border-radius: 2vh;
        font-size: 5vh;
        box-shadow: 0 0 0px #0fe;
        transition: box-shadow 0.2s;
    }

    .events:hover{
        box-shadow: 0 0 10px #0fe;
    }

  }





  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }